/* HeaderStyles.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: #333;
  color: #fff;
}

.logo {
  width: 75px;
  height: auto;
  padding-right: 1rem;
}

.nav {
  display: flex;
  gap: 0.15rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}
