/* HomeStyles.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6796a3; /* Light gray background */
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #333; /* Dark gray text color */
  }
  
  .button-container {
    display: flex;
    gap: 1rem;
  }
  
  .button-home {
    background-color: #393eba; /* Green button background */
    color: #fff; /* White button text color */
    padding: 20px 40px; /* Larger padding */
    border: none;
    border-radius: 50px; /* More rounded border */
    cursor: pointer;
    font-size: 1.4rem; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Spacing between letters */
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  